@using CoiniumServ.Coin.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CoiniumServ.Server.Web.Modules.IndexModel>

@{ Layout = "layout.cshtml"; }

<div class="row">
    
    <!-- overall stats -->
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Overall Statistics</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th>Workers <i class="fa fa-sort"></i></th>
                                <th>Hashrate <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Statistics.Global.WorkerCount</td>
                                <td>@Model.Statistics.Global.Hashrate.GetReadableHashrate()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    

    <!-- algorithms -->
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Per Algorithm Statistics</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th>Algorithm <i class="fa fa-sort"></i></th>
                                <th>Workers <i class="fa fa-sort"></i></th>
                                <th>Hashrate <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var algorithm in Model.Statistics.Algorithms)
                            {
                                <tr>
                                    <td>@algorithm.Value.Name</td>
                                    <td>@algorithm.Value.WorkerCount</td>
                                    <td>@algorithm.Value.Hashrate.GetReadableHashrate()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row">

    <!-- pools -->
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Per Pool Statistics</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th>Pool <i class="fa fa-sort"></i></th>
                                <th>Hashrate <i class="fa fa-sort"></i></th>
                                <th>Network <i class="fa fa-sort"></i></th>
                                <th>Difficulty <i class="fa fa-sort"></i></th>
                                <th>Workers <i class="fa fa-sort"></i></th>
                                <th>Algorithm <i class="fa fa-sort"></i></th>
                                <th>Current Block <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pool in Model.Pools)
                            {
                                <tr>
                                    <td><a href="/pool/@pool.Config.Coin.Symbol/">@pool.Config.Coin.Name</a></td>
                                    <td>@pool.Statistics.Hashrate.GetReadableHashrate()</td>
                                    <td>@pool.Statistics.NetworkHashrate.GetReadableHashrate()</td>
                                    <td>@pool.Statistics.Difficulty</td>
                                    <td>@pool.Statistics.WorkerCount</td>
                                    <td>@pool.Config.Coin.Algorithm</td>
                                    <td>@pool.Statistics.CurrentBlock</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>