@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <title>
            @if (@ViewBag.Title)
            { 
                @ViewBag.Title @: | 
            } 
            CoiniumServ
        </title>

        <!-- css -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    </head>
    <body>
        
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img src="/images/coiniumserv.png" style="width: 20px; height: 20px;" />CoiniumServ</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Pools <span class="caret"></span></a>                            
                                @if (@ViewBag.Pools)
                                {
                                    @:<ul class="dropdown-menu" aria-labelledby="themes">
                                        foreach (var pool in ViewBag.Pools.Value) // there exists a bug in nancy&razor@mono where we have to explity use Value for DynamicDictionaryValue
                                        {
                                        <li><a href="/pool/@pool.Config.Coin.Symbol">@pool.Config.Coin.Name</a></li>
                                        }
                                    @:</ul>
                                }                            
                        </li>
                        <li>
                            <a href="/donate/"><i class="fa fa-bitcoin"></i> Donate</a>
                        </li>
                        <li>
                            <a href="/api/"><i class="fa fa-bar-chart-o"></i> API</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Right bar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <h1>@ViewBag.Heading</h1>
                    </div>
                </div>
            </div>            

            @RenderBody()
            
            <footer>
                <div class="row">
                    <div class="col-lg-12"> 
                        <p>
                            <!-- 
                                IMPORTANT: You are NOT ALLOWED TO REMOVE following license & copyright text!
                                If you would like to do so, check our white-labeling solutions: https://github.com/CoiniumServ/CoiniumServ/blob/develop/licenses/commercial.md
                            -->
                            Powered by open source <a href="https://github.com/CoiniumServ/CoiniumServ" target="_blank">CoiniumServ</a> project created by <a href="http://www.coinium.org" target="_blank">coinium.org</a>.
                            @if(@ViewBag.LastUpdate)
                            {
                                @:Data last updated @@ @ViewBag.LastUpdate.
                            }
                        </p>
                        <div>
                            <i class="fa fa-comment"></i> <a target="_blank" href="http://webchat.freenode.net/?channels=%23coiniumserv&prompt=1&uio=OT10cnVlde">#coiniumserv</a>
                            | <i class="fa fa-comments"></i> <a href="http://forum.coinium.org/forum/19-support/" target="_blank">Forums</a>
                            | <i class="fa fa-bar-chart-o"></i> <a href="/api/">API</a>
                            | <i class="fa fa-heart"></i> <a href="/donate/">Donate</a>                            
                            | <iframe style="width: 85px; height: 20px; margin-top: 10px;" src="http://ghbtns.com/github-btn.html?user=CoiniumServ&amp;repo=CoiniumServ&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="no"></iframe>                            
                            | <iframe style="width: 85px; height: 20px; margin-top: 10px;" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FCoiniumorg%2F639179226128343&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        
        <script src="/js/jquery-1.10.2.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
        <script src="/js/morris/chart-data-morris.js"></script>
        <script src="/js/tablesorter/jquery.tablesorter.js"></script>
        <script src="/js/tablesorter/tables.js"></script>
    </body>
</html>
