@using CoiniumServ.Coin.Helpers
@using CoiniumServ.Persistance.Blocks
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CoiniumServ.Server.Web.Models.PoolModel>

@{ Layout = "layout.cshtml"; }

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> @Model.Pool.Config.Coin.Name Statistics</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Pool.Config.Coin.Symbol</span>
                        <i class="fa fa-calendar"></i> Symbol
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Pool.Hashrate.GetReadableHashrate()</span>
                        <i class="fa fa-calendar"></i> Hashrate
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Pool.NetworkStats.Hashrate.GetReadableHashrate()</span>
                        <i class="fa fa-calendar"></i> Network Hashrate
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Pool.NetworkStats.Difficulty</span>
                        <i class="fa fa-calendar"></i> Difficulty
                    </a>
                    <a href="/pool/@Model.Pool.Config.Coin.Symbol/workers" class="list-group-item">
                        <span class="badge">@Model.Pool.MinerManager.Count</span>
                        <i class="fa fa-calendar"></i> Workers
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Pool.Config.Coin.Algorithm</span>
                        <i class="fa fa-calendar"></i> Algorithm
                    </a>
                    <a href="/pool/@Model.Pool.Config.Coin.Symbol/round" class="list-group-item">
                        <span class="badge">@Model.Pool.NetworkStats.Round</span>
                        <i class="fa fa-calendar"></i> Round
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Block Stats</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Pool.BlocksCache.Total</span>
                        <i class="fa fa-refresh"></i> Total
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Pool.BlocksCache.Pending</span>
                        <i class="fa fa-refresh fa-spin"></i> Pending
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Pool.BlocksCache.Confirmed</span>
                        <i class="fa fa-check"></i> Confirmed
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Pool.BlocksCache.Orphaned</span>
                        <i class="fa fa-question"></i> Orphaned
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Latest Blocks</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th>Block <i class="fa fa-sort"></i></th>
                                <th>Status <i class="fa fa-sort"></i></th>
                                <th>Amount <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var block in Model.Pool.BlocksCache)
                            {
                                <tr>
                                    <td><a href="@Model.Pool.Config.Coin.BlockExplorer/block/@block.BlockHash" target="_blank">@block.Height</a></td>
                                    <td>
                                        @switch (block.Status)
                                        {
                                            case BlockStatus.Pending:
                                                <span class="label btn-warning">@block.Status</span>
                                                break;
                                            case BlockStatus.Orphaned:
                                            <span class="label btn-danger">@block.Status</span>
                                                break;
                                            case BlockStatus.Confirmed:
                                            <span class="label btn-info">@block.Status</span>
                                                break;
                                        }
                                    </td>
                                    <td>@block.Amount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
