@using CoiniumServ.Coin.Helpers
@using CoiniumServ.Persistance.Blocks
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CoiniumServ.Pools.IPool>

@{ Layout = "layout.cshtml"; }

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> @Model.Config.Coin.Name Statistics</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Config.Coin.Symbol</span>
                        <i class="fa fa-calendar"></i> Symbol
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Statistics.Hashrate.GetReadableHashrate()</span>
                        <i class="fa fa-calendar"></i> Hashrate
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Statistics.NetworkHashrate.GetReadableHashrate()</span>
                        <i class="fa fa-calendar"></i> Network Hashrate
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Statistics.Difficulty</span>
                        <i class="fa fa-calendar"></i> Difficulty
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Statistics.WorkerCount</span>
                        <i class="fa fa-calendar"></i> Workers
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Config.Coin.Algorithm</span>
                        <i class="fa fa-calendar"></i> Algorithm
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Statistics.CurrentBlock</span>
                        <i class="fa fa-calendar"></i> Current Block
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Block Stats</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Statistics.Blocks.Total</span>
                        <i class="fa fa-refresh"></i> Total
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Statistics.Blocks.Pending</span>
                        <i class="fa fa-refresh fa-spin"></i> Pending
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Statistics.Blocks.Confirmed</span>
                        <i class="fa fa-check"></i> Confirmed
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">@Model.Statistics.Blocks.Orphaned</span>
                        <i class="fa fa-question"></i> Orphaned
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Latest Blocks</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th>Block <i class="fa fa-sort"></i></th>
                                <th>Status <i class="fa fa-sort"></i></th>
                                <th>Amount <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var block in Model.Statistics.Blocks.Latest)
                            {
                                <tr>
                                    <td><a href="https://chain.so/block/LTCTEST/@block.Height" target="_blank">@block.Height</a></td>
                                    <td>
                                        @switch (block.Status)
                                        {
                                            case BlockStatus.Pending:
                                                <span class="label label-warning">@block.Status</span>
                                                break;
                                            case BlockStatus.Orphaned:
                                            case BlockStatus.Kicked:
                                            <span class="label label-danger">@block.Status</span>
                                                break;
                                            case BlockStatus.Confirmed:
                                            <span class="label label-primary">@block.Status</span>
                                                break;
                                        }
                                    </td>
                                    <td>@block.Amount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
