@using CoiniumServ.Persistance.Blocks
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CoiniumServ.Server.Web.Models.PoolModel>
<div class="col-md-6">
    <div class="box box-solid box-danger">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-dollar"></i> Latest Paid Blocks</h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th style="width: 10px">Block</th>
                        <th>Status</th>
                        <th>Time</th>
                        <th>Reward</th>
                    </tr>
                    @foreach (var block in Model.Pool.BlocksCache.LatestPaid)
                    {
                        <tr>
                            <td><a href="/pool/@Model.Pool.Config.Coin.Symbol/block/@block.Height">@block.Height</a></td>
                            <td>
                                @switch (block.Status)
                                {
                                    case BlockStatus.Pending:
                                        <span class="label label-warning">@block.Status</span>
                                        break;
                                    case BlockStatus.Orphaned:
                                    <span class="label label-danger">@block.Status</span>
                                        break;
                                    case BlockStatus.Confirmed:
                                    <span class="label label-info">@block.Status</span>
                                        break;
                                }
                            </td>
                            <td>@block.CreatedAt</td>
                            <td>@block.Reward</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>